[Unit]
Description=Nix writable bind mount
DefaultDependencies=no
After=var.mount nix-seed.service
Requires=nix-seed.service
Before=nix-daemon.service nix-daemon.socket

[Mount]
What=/var/lib/nix
Where=/nix
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
